<div class="container">
        <div class="row pt-0">
            <div class="col-12">
                <span style="color:red;">Are you sure you want to delete this recipe?</span>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-12 offset-4">
                <button @onclick="SubmitForm" class="btn btn-sm btn-primary">Yes</button>
                <button @onclick="Cancel" class="btn btn-sm btn-light">No</button>
            </div>
        </div>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    /***********************************************
     * On Initialized
    ************************************************/
    protected override void OnInitialized()
    {
        BlazoredModal.SetTitle("Delete Recipe?");
    }

    private async Task SubmitForm() => await BlazoredModal.CloseAsync(ModalResult.Ok("true"));
    private async Task Cancel() => await BlazoredModal.CancelAsync();
}
